<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/12306"/>
        <property name="username" value="root"/>
        <property name="password" value="1116"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" >
            <ref bean="dataSource"/>
        </property>
        <property name="hibernateProperties" >
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/12306</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:StationEntity.hbm.xml</value>
                <value>classpath:TrainEntity.hbm.xml</value>
                <value>classpath:UserEntity.hbm.xml</value>
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>model.StationEntity</value>
                <value>model.TrainEntity</value>
                <value>model.UserEntity</value>
            </list>
        </property>
    </bean>

    <bean id="newuserMAction" class="action.newuserMAction">
        <property name="mgr" ref="managerService"/>
    </bean>
    <bean id="newstationMAction" class="action.newstationMAction">
        <property name="mgr" ref="managerService"/>
    </bean>
    <bean id="newtrainMAction" class="action.newtrainMAction">
        <property name="mgr" ref="managerService"/>
    </bean>
    <bean id="deletestationMAction" class="action.deletestationMAction">
        <property name="mgr" ref="managerService"/>
    </bean>
    <bean id="deletetrainMAction" class="action.deletetrainMAction">
        <property name="mgr" ref="managerService"/>
    </bean>
    <bean id="deleteuserMAction" class="action.deleteuserMAction">
        <property name="mgr" ref="managerService"/>
    </bean>
    <bean id="loginAction" class="action.loginAction">
        <property name="mgr" ref="managerService"/>
    </bean>
    <bean id="registAction" class="action.registAction">
        <property name="mgr" ref="managerService"/>
    </bean>
    <bean id="managerService" class="service.ManagerService">
        <property name="userdao" ref="userDAO"/>
        <property name="stationDAO" ref="stationDAO"/>
        <property name="trainDAO" ref="trainDAO"/>
    </bean>
    <bean id="userDAO" class="dao.UserDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="trainDAO" class="dao.TrainDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="stationDAO" class="dao.StationDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="qsr" class="service.queryService">
        <property name="sdao" ref="stationDAO"></property>
        <property name="tdao" ref="trainDAO"></property>
    </bean>
    <bean id="normalfind" class="action.findAction">
        <property name="qsr" ref="qsr"></property>
    </bean>
    <bean id="advanced" class="action.advancedAction">
        <property name="qsr" ref="qsr"></property>
    </bean>




</beans>